/* za site view-a, plus background image za home,events, mybills, stats, archive. inaky body go ima vo scafolding.less i normalize.less i od tamu imam nesto zemeno */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: url(../images/people_22.jpg) no-repeat 50% 0% fixed; 
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* go imam vo login i register. inaku <a> ja ima i vo bootstrap.css, scafolding.less, normalize.less i od tamu imam nesto zemeno. za <a> go ima vo home view, a e override-no <a> */
a, a:hover, a:focus {
	color: #333;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s; 
    transition: all .3s;
}
/*ja imam kaj login i register(za <a>). moja klasa*/
.sign-up-description-text, .sign-in-description-text{
	font-weight: 400;
	color: #3E3C3D;
}
/*moja klasa, go imam vo login i register*/
a.sign-up-description-text:hover, :focus, a.sign-in-description-text:hover, :focus {
    color: #fff;
}

ul.two-tabs>li:not(.active) {
  border: 1px solid #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}

ul.two-tabs>li:not(.active)>a {
 	color: #fff;
}

ul.two-tabs>li:not(.active)>a:hover {
 	color: black;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}
/*ja ima login , register, events. vsusnost e override-no <h3>*/
h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}
/*go ima events. vsusnost e override-no <h4> go ima vo bootstrap.css vo type.less*/
h4.fweight {
	font-weight: 300;
}
/*ja ima events. e override na .list-group-item-heading so se naogja vo list-group.less*/
h4.list-group-item-heading {
	color: #393939;
}
/*moja klasa ja ima vo home, mybills, archive*/
.header-space {
	padding-top: 30px
}

.header2-space {
	padding-top: 27px
}
/*za login i register, boja na hederot -moi klasi*/
.form-top-left .login-text, .register-text {
	color: #fff;
}
/*za login, register i (events-nema) ova paragrafot se boi bel -moi klasi*/
 .login-description-text, .register-description-text, .events-description-text {
	color: #fff;
}

h1.events-text {
	color: #fff;
}
/*ja ima events. moja klasa*/
.event-list-header {
	color: #fff;
    margin-top: -10px;
    background-color: #307ECC;
    margin-left: -10px;
    margin-right: -10px;
}
/*ja imam home. moj stil*/
img {
	max-width: 100%; 
}

::-moz-selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none; 
}
::selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none;
}
/*za site view-a -moja klasa*/
.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	color: #fff;
}
/*za login, register za extra space -moja klasa */
.top-content .description {
	margin: 40px 0 10px 0;
}
/*za login i register -moja klasa*/
.form-box {
	margin-top: 35px;
}

.form-box-event {
	margin-top: 61px;
}
/*ja ima events(modal).moja klasa*/
.btn-group.invite-users-width {
    width: 100%;
}
/*go ima events(modal)*/
button.btn.dropdown-toggle {
    background: #3E3C3D;
}
.form-list {
	overflow: hidden;
	padding: -2px 25px -2pxpx 25px !important;
	margin-top: -61px;
	background: #EC008C;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
	opacity: 0.8;
}
/*za login i register -moja klasa za (login,register to our site delot)*/
.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #307ECC;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
	/*opacity: 0.8;*/
}
/*za login i register,za (login,register to our site delot) -moja klasa */
.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}
/*za login i register -moja klasa*/
.form-top-left h3 {
	margin-top: 0;
}
/*za login i register za katanceto i user ikonata -moja klasa*/
.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
}
/*za login i register i vo events(modal) -moja klasa*/
.form-bottom {
	padding: 25px 25px 30px 25px;
	background: none;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.list-events-padding {
	padding: 8px 25px 30px 25px;
}
/*.form-group override-na ja ima vo bootstrap css (ja imam kaj login, register i events(modal))*/
.form-group {
    margin-bottom: 0;
}
/*da vidam dali se koristi nekade*/
form-control {
	border:none;
}
/*za login i register, events. go imam override-no btn*/
.form-bottom form button.btn {
	width: 100%;
}
/*moja klasa ja imam kaj login i register*/
#signup-button, #signin-button {
	text-align: right;
	padding: 15px;
}
/*samo kaj events za space go koristam, moja klasa */
.inner-bg .logo {
	padding-bottom: 20px;
}
/*
.inner-bg .logo a {
	display: inline-block;
	width: 150px;
	height: 60px;
	background: url(../images/polar-cape-logo.png) center center no-repeat;
	text-indent: -99999px;
}
*/
/*za site view-a, od form-control(forms-less) e override-no, no i od nego ima nesto zadrzano, samo input go ima vo normalize i scafolding less, od tamu ima malku zemeno*/
input[type="text"], 
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"]
{
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
   	background: #3E3C3D;
    border: none;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
/*ja ima events(modal). moja klasa*/
input#form-deadline {
  color: gray !important;
}
/*ova e override-no, vsusnost e smeneto od form-control:focus(vendor-prefixes-less)*/
input[type="text"]:focus, 
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus
 {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #0D0C0C !important;
}
/*ovoj stil nemozam so f12 da si go najdam */
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder {
	color: #888;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder { 
	color: #888;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder { 
	color: #888; 
}

input[type="number"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder { 
	color: #888; 
}

input[type="date"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder { 
	color: #888; 
}
/*go imam override .btn, ama koristam i plus nesto od .btn so go ima vo button less, a samo button go ima vo scafolding less, normalize less, go ima vo site view osven vo archive*/
button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #5cb85c;
    border-color: #4cae4c;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
	transition: all .3s;
}
/*vo login, register i events view go koristam.a inaku .btn:hover go imam override-no a plus imam nesto zadrzano i od .btn:hover koj se naogja vo button.less*/
button.btn:hover {
	color: #fff; 
	background-color: #449d44;
	border-color: #398439;
}
/*go imam override-no, no imam i zadrzano nesto i od .btn:active so go ima vo vendor-prefixes.less*/
button.btn:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none; 
}
/*go imam vo login, register, events. go imam override-no, no imam zadrzano i od .btn:focus so go ima vo bootstrap.css*/
button.btn:focus { 
	outline: 0;
	opacity: 0.6;
	background: #4aaf51;
	color: #fff; 
}
/*go imam vo login,register, events, no go imam override-no, no imam i nesto zadrzano go ima vo bootstrap.css*/
button.btn:active:focus, button.btn.active:focus {
	outline: 0;
	background: #4aaf51;
	color: #fff; 
}

/*ja imam vo register, login, events. ja imam override-no, no imam nesto zadrzano i od button.btn.btn-block so ja ima vo button.less*/
button.btn.btn-block {
    opacity: 1;
}
/*ja ima event.moja klasa*/
button.btn.btn-default.modal-button-hover:hover {
    background-color: #449d44;
    border-color: #398439;
}
/*events(modal-invite-user-button)*/
button.btn.dropdown-toggle.invite-users-btn:hover {
    background: #3E3C3D;
    opacity: 0.9;
}
/*ja ima vo events. moja klasa*/
.top-big-link {
    margin-top: 45px;
}
/* background-picture za login i register */
.top-content { 
  background: url(../images/login-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-content-events {
	background: url(../images/e1.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.overlay {
    background: rgba(24,64,76,0.6);
}
/*go imam override-no, no imam i nesto zadrzano go ima vo navbar.less*/
.navbar {
	margin-bottom: 0;
	background: #444;
	border: 0;
	-o-transition: all .6s;
	-moz-transition: all .6s;
	-webkit-transition: all .6s;
	-ms-transition: all .6s;
	transition: all .6s;
}
/*moja klasa no vsusnost go imam override-no .navbar-inverse so se naogja vo navbar.less, a inaku samo <nav> go ima vo normalize.less*/
.navbar.navbar-no-bg {
	background: #444;
	background: rgba(0, 0, 0, 0.6); 
}
/*moj stil*/
.navbar-right {
	margin-right: 0; 
}
/*sum go override-la .navbar-nav so go ima vo navbar.less*/
ul.navbar-nav {
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
/*sum ja override-la .navbar-inverse .navbar-nav>li>a  so ja ima vo bootstrap.css*/
.navbar-inverse ul.navbar-nav li a {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	opacity: 0.8; 
}
/*moj stil dadeno za hover na a, a vsusnost go imam override-no navbar-inverse .navbar-nav>li>a:focus so se naogja vo navbar.less*/
.navbar-inverse ul.navbar-nav li a:hover { 
	color: #fff;
	opacity: 1;
	outline: 0;
}
/*moj stil dadeno za fokus na a, a vsusnost go imam override-no navbar-inverse .navbar-nav>li>a:focus so se naogja vo navbar.less*/
.navbar-inverse ul.navbar-nav li a:focus {
	color: #fff;
	outline: 0;
	opacity: 1;
}

.navbar-text a {
	margin: 0 8px;
	font-size: 26px;
	color: #fff;
	line-height: 28px;
	opacity: 0.8;
}
.navbar-text a:hover {
	opacity: 1;
}
/*.navbar-toggle go imam override-no , no imam i prifateno so se naogja vo bootstrap.css i vo navbar.less*/
.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
}

.navbar-brand {
	width: 75px;
	height: 60px;
}
.navbar>.container .navbar-brand {
	margin-left: 0;
}
/*moj stil za da ima crticka na hover na <a>, a ima za :after i od vendor-prefixes.less so se zema*/
ul.navbar-nav li a:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 45%;
    width: 10%;
    height: 1px;
    background: #fff;
    opacity: 0;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
ul.navbar-nav li a:hover:after, ul.navbar-nav li a:focus:after {
    opacity: 1;
}

a.list-group-item.active {
    background-color: #3E3C3D;
    opacity: 0.8;
    border: none;
}
/*ja ima events, za modal. vsusnost e override-no .modal-header so go ima vo modals.less*/
.modal-header {
    background: #307ECC;
    color: #fff;
    border-radius: 4px 4px 0 0;
    border-bottom: grey;
}
/*go ima events. vsusnost e override-no .modal-body so go ima vo modals.less no i od nego e zadrzan stil*/
.modal-body {
    background: #EAE7E9;
}

a.list-group-item.active {
    background-color: #3E3C3D;
    border: none;
}
/*ja ima events. vsusnost sum ja override-la .modal-footer koja se naogja vo bootstrap.css, no i od nea sum zadrzala stil*/
.modal-footer {
    background: #D3D6D6;
}

-webkit-text-fill-color: red !important;


 .overlay.dark {
    opacity: 0.7;
    filter: alpha(opacity=35);
}
/* .overlay class za login i register za background picture*/
 .overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(241, 246, 247, 0.9);
    opacity: 0.2;
    filter: alpha(opacity=40);
}

.main-div-home {
	position: fixed;
    width: 1349px;
}
/*za background picture, register, -moja klasa*/
.main-div-register {
	position: fixed;
    width: 1349px;
}
/*za login i register za background picture*/
.main-div-login {
	position: fixed;
    width: 1349px;
}

div#b {
    display: block;
}

.event-info-header {
	color: black !important;
    font-weight: 400 !important;
    padding-left: 263px;
    background-color: #EC008C;
}

#events-background {
    background-color: rgb(83, 226, 93);
}

.hosting-events-paragraf:hover {
    font-weight: 500;
}

.invited-to-events-paragraf:hover {
	font-weight: 500;
}

.form-bottom.list-bg {
    background: rgba(119, 189, 210, 0.42);
    background: -webkit-linear-gradient(left top, red, yellow);
    background: -o-linear-gradient(bottom right, red, yellow);
    background: -moz-linear-gradient(bottom right, red, yellow);
    background: linear-gradient(to bottom right, rgb(83, 226, 93), rgba(242, 222, 222, 0.81));
    opacity: 0.8;
}

a.list-color.ng-binding {
    color: #fff;
}

.home-overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    /*background: rgba(241, 246, 247, 0.9);*/
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: -webkit-linear-gradient(left, rgba(228, 0, 121, 0.75) 10%, rgba(0, 145, 234, 0.75) 90%);
    background: -moz-linear-gradient(left, rgba(228, 0, 121, 0.75) 10%, rgba(0, 145, 234, 0.75) 90%);
    background: -ms-linear-gradient(left, rgba(228, 0, 121, 0.75) 10%, rgba(0, 145, 234, 0.75) 90%);
    background: -o-linear-gradient(left, rgba(228, 0, 121, 0.75) 10%, rgba(0, 145, 234, 0.75) 90%);
    background: linear-gradient(left, rgba(228, 0, 121, 0.75) 10%, rgba(0, 145, 234, 0.75) 90%);
}

span.sellect-user-color {
    color: #fff;
}

span.user-color {
    color: #fff;
}
/*ja ima events(modal) moja klasa*/
span.sellect-user-color-events {
    color: black;
}
/*events(modal)*/
span.user-color-events {
    color: black;
}

h3.name-event {
   	color: #131212;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 0;
}

h3.name-event.ng-binding {
    font-size: 19px;
}

i.fa.fa-user.big-user-icon {
	color: #fff;
}
/*events*/
i.fa.fa-calendar {
     color: #707070;
}
/*ja ima events. za icon izvicnik*/
i.fa.fa-exclamation-triangle {
	color: #707070;
}

span.calendar-name, span.posted-by {
    color: #131212;
    padding-left: 1px;
    font-weight: 400;
}

div.ng-scope.events-border {
    content: "";
    border-bottom: 1px solid #3E3C3D;
}
/*ja ima events. ja imam override-no .pre-scrollable so se naogja grid.less */
.pre-scrollable{
 	max-height: 200px;
}

#events-background::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#events-background::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#events-background::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#mybills-background::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#mybills-background::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#mybills-background::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*ja ima events. moja klasa*/
input.form-control.search-events {
    background: #F5F5F5!important;
}
/*events, modals*/
.modal-events-footer {
	color: #393939;
}

/*My Bills*/
h2 {
  text-align: center;
  padding: 20px 0;
}
/*ja ima vo home, mybills. vsusnost ja ima istata klasa so istiot stil vo bootstrap.css ama dali zaradi important nesto sum ja prepisala*/
.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

table.table.table-bordered.table-hover.table-bg-color {
    background-color: #fcfcfc;
}

caption.text-center.bg-caption {
    background-color: #307ECC;
    color: #FFF;
}

thead.bg-thead {
    background: #dff0d8;
}

.btn-toolbar {
    margin-bottom: 20px;
}

tbody.color-tbody {
    color: black;
    text-align: left;
}
thead.bg-thead.color-thead {
    color: #555;
}

tfoot.tfood-mybills {
    background: #EFF3F8;
    border: 1px solid #e0e0e0;
}

td.star-color {
    color:#337ab7;
    text-align: center;
}
/*ja ima home, mybills, stats, archive. vsusnost e override-no .table-hover>tbody>tr:hover so se naogja vo tables.less*/
.table-hover>tbody>tr:hover {
    background-color: #EFF3F8;
}
/*my bills*/
.has-paid {
	color:rgb(83, 226, 93);
}
/*mybills*/
.not-paid {
	color:red;
}

div#datatable-responsive_length {
    margin: 20px 0;
}
select.form-control.display-select {
    display: inline-block;
    width: initial;
}

/*Home*/

button.btn.btn-default.btn-danger.btn-pay-style {
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 1% 2%;
    background-color: #D15B47!important;
    border-color: #D15B47;
    height: 30px;
   	font-size: 14px;
   	line-height: 1.42857143;
}

button.btn.btn-default.btn-success.btn-has-paid-style {
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 1% 2%;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    height: 30px;
   	font-size: 14px;
   	line-height: 1.42857143;
}

button.btn.btn-default.btn-danger.btn-not-paid-style {
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 1% 2%;
    background-color: #D15B47!important;
    border-color: #D15B47;
    height: 30px;
   	font-size: 14px;
   	line-height: 1.42857143;
}


/*-------*/
/*moja klasa ja ima home*/
th.detail-col {
	width: 48px;
	tex-align: center;
}
/*
.table>thead>tr {
	color: #707070;
}
*/
/*moj stil ja ima home,mybills,archive*/
.table>thead>tr {
    color: #707070;
    font-weight: 400;
    background: #F2F2F2;
}
/*moja klasa za stil na gliphicon-ot clock. go ima home, mybills*/
.bigger-clock-icon {
	margin-right: 2px;
}
/*moja klasa za strelkata od tabelata ja ima home, */
.action-button {
    text-align: center;
}
/*moja klasa da se oboi strelkata zelena . ja ima home.vsusnost e override-no <a> za bojata.*/
.green {
	color: #69AA46!important;
}
/*moja klasa ja ima home, mybills*/
.tbody-home {
	background: #F9F9F9;
	text-align: left;
	color: #393939
}
/*modal tabela*/
/*moja klasa. ja ima home*/
.table-detail {
    background-color: #fff;
    border: 1px solid #dcebf7;
    width: 100%;
    padding: 12px;
}
/*go ima home. moj stil, override-no td, so se naogja vo tables.less, normalize.less*/
tr.detail-row>td {
    background-color: #f1f6f8;
    border-top: 3px solid #d1e1ea!important;
}
/*ja ima home. moja klasa. vsusnost e override-no .thumbnail, no od nea imam zadrzano stil a ja ima vo thumbnails.less*/
.inline {
    display: inline-block!important;
}
/*ja ima home. moja klasa. vsusnost e override-no .thumbnail, no od nea imam zadrzano stil a ja ima vo thumbnails.less*/
.no-margin-bottom {
    margin-bottom: 0!important;
}
/*home vo colapsot kaj label-ta so ime*/
.label-xlg {
    padding: .3em .7em .4em;
    font-size: 14px;
    line-height: 1.3;
    height: 28px;
    color: #FFF;
    display: inline-block;
    border-radius: 0;
    font-weight: 400;
    background: #337ab7;
}

.width-80 {
    width: 80%!important;
}
/*moja klasa. ja ima home*/
.position-relative {
    position: relative;
}

.light-green {
    color: #B0D877!important;
}
/*moja klasa. ja ima home. za topceto vo collapsot vo tabelata pod slikat*/
.user-icon {
	text-align: center;
}
/*moja klasa. ja ima home.*/
.white {
    color: #FFF!important;
}
/*moja klasa.a ima home. za colapsot e.*/
.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-user-info-striped {
    border: 1px solid #DCEBF7;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-info-row {
    display: table-row;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-info-name {
    border-top: none;
    color: #336199;
    background-color: #EDF3F4;
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    width: 110px;
    vertical-align: middle;
    display: table-cell;
    border-top: 1px solid #F7FBFF;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-info-row:first-child .profile-info-name {
    border-top: none;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-user-info-striped .profile-info-value {
    border-top: 1px dotted #DCEBF7;
    padding-left: 12px;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-info-value {
    padding: 6px 4px 6px 12px;
}
/*ja ima home. moja klasa, za collapsot*/
 .profile-info-row:first-child .profile-info-value {
    border-top: none;
}
/*ja ima home. moja klasa, za collapsot*/
.profile-info-value {
    display: table-cell;
}
/*ja ima home. moja klasa, za collapsot, za icon tasks*/
.bigger-tasks {
    font-size: 110%!important;
    margin-right: 2px;
}
/*moja klasa.ja ima home.  za topceto vo collapsot vo tabelata pod slikata e zeleno*/
.light-green {
    color: #B0D877!important;
}
/*ja ima home. moja klasa*/
.header.blue {
    border-bottom-color: #d5e3ef;
}
/*ja ima home. moja klasa*/
.header.less-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*ja ima home. moja klasa i stil*/
.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC;
}
/*moja klasa . ja ima home vo collapsot*/
.blue {
    color: #337AB7!important;
    font-weight: 400!important;
}
/*
.lighter {
    font-weight: lighter;
}
*/
/*moja klasa . ja ima home vo collapsot*/
.space-6 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 6px 0 5px;
}
/*ja ima home. moja klasa*/
.btn.btn-round {
    border-radius: 4px!important;
}
/*ja ima home. moja klasa*/
 .btn.btn-round {
    border-bottom-width: 2px!important;
}
/*ja ima home. moja klasa , a vsusnost e override-no .btn so se naogja vo buttons.less*/
button.btn.btn-sm.btn-danger.btn-round.pay-my-dept-btn {
	border-color: #D15B47!important;
    color: #fff!important;
    border-width: 1px;
    background-color: #D15B47!important;
    border: 1px solid #FFF;
    padding: 4px 9px;
    line-height: 1.38;
    text-shadow: none!important;
}

button.btn.btn-sm.btn-danger.btn-round.pay-my-dept-btn:active, button.btn.btn-sm.btn-danger.btn-round.pay-my-dept-btn:focus, button.btn.btn-sm.btn-danger.btn-round.pay-my-dept-btn:hover {
    background-color: #B74635!important;
    border-color: #D15B47;
    opacity: 1;
}

/*Second Table-Home*/
 /*moja klasa ja ima vo home, mybills, archive*/  
.table-header {
    background-color: #307ECC;
    color: #FFF;
    font-size: 17px;
    line-height: 38px;
    padding-left: 12px;
    font-weight: 400;
}
/*moja klasa ja ima vo home, mybills, archive */
.user-owe-search {
	text-align: right;
}
/*ja ima kaj select, mybills*/
.dataTable_wrapper input[type=search] {
	margin-bottom: 0!important;
    margin: 0 4px;
}
/* ja ima archive, mybills. vsusnost e override-na input[type=search] so se naogja vo forms.less, bootstrap.css, normalize.less i nesto e prfateno  i uste e override-na i od kaj input-sm so se naogja vo forms.less  */
.user-owe-search input[type=search] {
	width: 125px;
    height: 18px;
    line-height: 18px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px 6px;
    border-radius: 0!important;
    color: #858585;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    display: inline-block;
    vertical-align: middle;
}
/*
.user-owe-search label {
    display: inline-block;
    font-weight: 400;
}
*/
/*ja ima archive, mybills. overroad na row, grid-framework.less*/
.dataTable_wrapper .row:first-child {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #EFF3F8;
}
/*ja ima archive,home,mybills. overroad na row, grid-framework.less*/
.dataTable_wrapper .row {
    margin: 0!important;
}
/*ja ima archive,home,mybills. moja*/
.dataTable_wrapper .row:last-child {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #EFF3F8;
}
/*go ima vo home, mybills. moja klasa a vsusnost e override-na .table so se naogja vo bootstrap.css, tables.less, normalize.less i od niv e zadrzan nekoj stil*/
table.dataTable {
    clear: both;
    max-width: none!important;
}
/*go ima vo home, mybills. moja klasa a vsusnost e override-na .table so se naogja vo bootstrap.css, tables.less, normalize.less i od niv e zadrzan nekoj stil*/
.dataTable {
    margin-bottom: 0;
}
/*ja ima home, mybills, archive. moja klasa*/
.dataTable_paginate {
    text-align: right;
}
/*ja ima home, mybills, archive. override-na e .paginations.less no i od nea ima zadrzano stil*/
.dataTable_paginate .pagination {
    margin: 0 12px;
}
/*moja klasa ja ima vo home, mybills, stats,archive*/
.table-responsive.table-responsive-home {
    margin-bottom: 0;
}


/*Mybills new*/
/*
.tableTools-container {
    margin-bottom: 8px;
    position: relative;
}

.btn.btn-bold {
    border-bottom-width: 2px;
}

.btn.btn-white {
    border-width: 1px;
    background-color: #FFF!important;
    text-shadow: none!important;
}

.btn-white.btn-primary {
    border-color: #8aafce;
    color: #6688a6!important;
}

 .btn.btn-white:focus.btn-bold {
    box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,.15)!important;
}

.btn-white.btn-primary:hover {
    background-color: #eaf2f8!important;
    border-color: #8aafce;
    color: #537c9f!important;
}*/


/*ja ima vo mybills. moja klasa za trite batoni*/
.tableTools-container {
    margin-bottom: 5px;
    position: relative;
}
/*ja ima events modals, mybills. ovaa klasa ja ima vo bootstrap 4*/
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
/*ja ima events modals, mybills. ovaa klasa e override na .btn-primary so ja ima vo bootstrap.css*/
.btn-outlined.btn-primary {
    background: #fff;
    border: 2px solid #428bca;
    color: #428bca;
}
/*ja ima events modals, mybills. ovaa klasa e override na .btn-primary:hover so ja ima vo bootstrap.css*/
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #428bca;
    border-color: #428bca;
}
/*ja ima events,mybills. vsusnost e override na .btn-success so se naogja vo bootstrap.css*/
.btn-outlined.btn-success {
    background: #fff;
    border: 2px solid #5cb85c;
    color: #5cb85c;
}
/*ja ima events modals, mybills. ovaa klasa e override na .btn-success:hover so ja ima vo bootstrap.css*/
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #47a447;
}
/*ja ima events,mybills. vsusnost e override na .btn-danger so se naogja vo bootstrap.css*/
.btn-outlined.btn-danger {
    background: #fff;
    border: 2px solid #d9534f;
    color: #d9534f;
}
/*ja ima events, mybills. vsusnost e override na .btn-danger:hover so se naogja vo bootstrap.css*/
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}
/*go ima kaj home, mybills, archive . a vsusnost e override-na label i od nea ima nesto zadrzano so se naogja vo forms.less*/
.dataTable_wrapper label {
    display: inline-block;
    font-weight: 400;
}
/*kaj select, mybills*/
.dataTable_wrapper select {
    margin-bottom: 0!important;
    margin: 0 4px;
}
/*kaj select, mybills*/
.display-records-lenght select {
    height: 25px;
    padding: 2px 3px;
}
/*ja ima vo stats, mybills. override na select.input-sm so se naogja vo forms.less, no e zadrzan i od negoviot stil*/
select.input-sm {
    border-radius: 0;
    padding: 2px 3px;
}
/*ja ima vo stats, home, mybills, archive. form-control ja imam override-vano no imam i zadrzano stil i od .form-control od normalize.less, scafolding.less */
.form-control, select {
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: #858585;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
}
/*ja ima vo archive,mybills.moja klasa*/
.display-records-lenght {
	text-align: left;
}
/*ja ima mybills.moja klasa za icon user.*/
i.fa.fa-user.fa-fw.bigger-user-icon {
	margin-right: 2px;
	color: #337ab7;
}
/*ja ima mybills.moja klasa za icon info.*/
.bigger-info-icon {
	margin-right: 2px;
	color: #707070;
}

/*Archive*/

.main-content {
    background-color: #fff;
}
/*ja ima archive, moja klasa za icon*/
.bigger-archive-icon {
    margin-right: 2px;
}
/*ja ima archiv. moja*/
.row.bg-archive {
    background: none!important;
    border-bottom: none!important;
}

.tbody-archive {
    text-align: left;
    color: #393939;
}
/*ja ima home, mybills, stats, archive. moj stil, override-na e .label so ja ima vo labels.less*/
.label {
	font-weight: 500;
}
/*kaj archive. moja klasa.*/
.search-archive {
	margin-bottom: 0!important;
    margin: 0 0px!important;
    margin-left: 4px!important;
}

/*Stats*/
/*ja ima vo stats. moja klasa*/
.total-budget-padding {
    padding-top: 35px;
}
/*ja ima home,events(modals), mybills, stats, archive. moja klasa*/
td.ng-binding {
	text-align: left;
}
/*moja klasa ja ima vo stats*/
.col-xs-12.stats-pie-bottom {
    margin-bottom: 20px;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
	
	.event-info-header {
	    padding-left: 0;
	    margin-right: 15px;
}
	.clearfix.user-has-paid-btn {
    margin-left: -16px;
}

button.btn.btn-sm.btn-danger.btn-round.pay-my-dept-btn {
	padding: 4px 1px;
}


}

@media (max-width: 767px) {
	
	.inner-bg {
	 	padding: 60px 0 110px 0; 
	}
	.event-info-header {
	    padding-left: 0;
	    margin-right: 14px;
	}

	.text-align-img-xs {
		text-align: left;
	}
	
	.dataTable_wrapper select {
    margin: 0 -1px;
	}
	
	th.archive-th-width {
		width: 0px!important;
	}
	
	#user-owe.responsive-search-mybills input[type=search]{
    	width: 100%!important;
	    padding: 4px 0!important;
	}
	
	#user-owe.responsive-search-archive input[type=search] {
		width: 100%!important;
	    padding: 4px 0!important;
	}
	
	
}

@media (min-width: 767px) {
	.text-center {
		text-align: center;
	}

	.dataTable_wrapper select {
	    margin: 0px;
	
	}
	
	th.archive-th-width {
		width: 50px!important;
	}
}

@media (max-width: 415px) {
	
	h1, h2 {
		font-size: 32px;
	}
	.event-info-header {
		margin-right: 15px;
}

	.text-left {
		text-align: left;
	}
	
	.dataTable_paginate {
   		 text-align: center;
	}
	
}



