
 <div class="top-content-mybills">
	<div class="inner-bg">
		<h3 class="header-space"></h3>
		<div class="container">
			<div class="main-content">
				<div class="row">
						<div class="col-xs-12">
							<div class="table-header">
								Archived Events
							</div>
							<div id="display-archive" class="dataTable_wrapper">
								<div class="row">
									<div class="col-xs-6 col-md-5 col-md-offset-1">
										<div id="display-records" class="display-records-lenght form-inline">
											<label>Display
												<select class="form-control input-sm" ng-model="pagesPer" ng-click="pagesSec()">
													<option value="5">5</option>
													<option value="10">10</option>
													<option value="25">25</option>
													<option value="50">50</option>
													<option value="100">100</option>
												</select>
												records
											</label>
										</div>
									</div>
									<div class="col-xs-6 col-md-5">
										<div id="user-owe" class="user-owe-search responsive-search-archive">
											<label>Search:<input type="search" class="form-control input-sm search-archive" ng-model="search"></label>
										</div>
									</div>
								</div>
								<div class="row bg-archive">
									<div class="col-md-10 col-md-offset-1">
										<div class="table-responsive table-responsive-home">
											<table class="table table-hover">
												<thead>
													<tr>
														<th class="archive-th-width" style="width: 50px;"></th>
						      							<th><i class="fa fa-tasks bigger-archive-icon fa-fw"></i>Event name</th>
						     						 	<th><i class="fa fa-money bigger-archive-icon fa-fw"></i>Price</th>
						      							<th><i class="fa fa-archive bigger-archive-icon fa-fw"></i>Status</th>
						    						</tr>
												</thead>
												<tbody class="tbody-archive" ng-repeat="event in events | filter:search  |filter:searchVal | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
												    <tr style="cursor:pointer" data-toggle="modal" href="#simplyModal" onclick="return false;" ng-click="getEventinv(event.id)">
												      <td></td>
												      <td><span class="label label-sm label-success">{{event.name}}</span></td>
												      <td>{{event.budget}}den.</td>
												      <td><span class="label label-sm label-info">Archived</span></td>
												    </tr>
												    
												</tbody>
											</table>
										</div>
										<div class="row bg-archive ">
											<div class="col-xs-12">
												<div class="dataTable_paginate">
													<ul class="pagination pull-right">
														<li><a href="" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">&laquo;</a></li>
														<li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
														  <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
														</li>
														<li><a href="" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">&raquo;</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>

<div id="simplyModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      	<div class="modal-header">
		        <h4 class="modal-title fweight">
					Event details
				</h4>
	      	</div>
	      	<div class="modal-body">
				
				<div class="list-group">
				    <h4 class="list-group-item-heading text-left fweight">
						Event name: <span style="float:right"> {{eventinv[0].events_id.name}} &emsp;</span>  <br>
						Created date: <span style="float:right"> {{eventinv[0].events_id.createdDate}} &emsp;</span> <br>
						Deadline:  <span style="float:right"> {{eventinv[0].events_id.expirationDate}}&emsp; </span> <br>
						Budget: <span style="float:right"> {{eventinv[0].events_id.budget}} &emsp;</span>  <hr>
					</h4>
				</div>
				
				<h4 class="list-group-item-heading text-left fweight"> Invited users: <span style="float:right">  </span> </h4> 
				
	      		<div class="list-group" ng-repeat="user in eventinv">
				    <h4 class="list-group-item-heading text-left fweight"> {{user.invited_id.name}} {{user.invited_id.surname}} ({{user.invited_id.username}})  <span style="float:right"> {{user.moneyOWNED}} den. &emsp; <span class="fa fa-times-circle-o" style="color:red; font-size:25px; margin-left:13px; margin-right:14px" ng-hide="user.isPayed"> </span> <span class="fa fa-check-square-o" style="color:green; font-size:25px; margin-left:13px; margin-right:14px" ng-show="user.isPayed"> </span> </span> </h4>
				</div>
	      	</div>
	      	<div class="modal-footer">
			
				Money collected: {{eventinv[0].events_id.budget - moneyRequired}} den.&emsp;&emsp; Money to collect:{{moneyRequired}} den. &emsp;&emsp;
	        	<button type="button" class="btn btn-default modal-button-hover" ng-click="init()" data-dismiss="modal" > Close </button>
	      	</div>
	    </div>
  	</div>
</div>
 
