<form> 
	Title: <input type="text" ng-model="eventName"> <br>
	Budget: <input type="number" ng-model="eventBudget"> <br>
	Deadline: <input type="date" ng-model="eventDate">  <br>
	<button type="button" ng-click="createEvent()"> create event </button> <br>
	<div ng-repeat="user in users">
		<input type="checkbox" value="{{user.username}}" ng-checked="selection.indexOf(user.username) > -1" ng-click="toggleSelection(user.id)"> {{user.username}} <br>
	</div> <br>

	{{selection}} <br>
	
</form>
<br><hr>
<div ng-repeat="e in events" onclick="document.getElementById('id01').style.display='block'" style="cursor:pointer" ng-click="eventPanel(e.id)">
	<p>
		name: {{e.name}} <br>
		budget: {{e.budget}}<br>
		createdDate: {{e.createdDate}}<br>
		expirationDate: {{e.expirationDate}}
	</p>
</div>

<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-teal"> 
      <span onclick="document.getElementById('id01').style.display='none'" 
      class="w3-closebtn">×</span>
      <h2> {{panel[0].events_id.name}} </h2>
	  <p> Created: {{panel[0].events_id.createdDate}} By: {{panel[0].hosting_id.name}} </p>
    </header>
    <div class="w3-container">
      <ul ng-repeat="p in panel">
		 <li>  {{p.invited_id.name}} </li>
	  </ul>
    </div>
    <footer class="w3-container w3-teal">
      <p>Expiration date: {{panel[0].events_id.expirationDate}}</p>
    </footer>
  </div>
</div>