<div class="top-content-mybills">
	<div class="inner-bg">
		<div class="container">
		    <div class="row">
		    	<div class="col-sm-8 col-sm-offset-2 text">
                	<div class="logo">
						<h1><a href="#">Polar Cape</a></h1>                        	
                	</div>
                    <div class="description"></div>
	 				<!-- Trigger the modal with a button -->
					<div class="row">
						<div class="col-sm-6">
							<div class="top-big-link">
								  <button href="#modal-create-events" type="button" class="btn btn-default btn-block" id="myBtn" onclick="return false;" data-toggle="modal" data-target="#myModal">Create Event</button>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="top-big-link">
								 <input class="form-control" type="text" placeholder="search events" ng-model="searchVal">
							</div>
						</div>
					</div>
					
					<hr>
					
					<div ng-repeat="x in myEvents |filter:searchVal | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
						
						<div class="well well-sm" style="color:black; cursor:pointer" ng-click="eventPanel(x.id)" data-toggle="modal" href="#simplyModal" style="color: black; cursor:pointer" onclick="return false;">
								
									<h3>{{x.events_id.name}}</h3>
								
									<i class="fa fa-calendar"></i>
									<span>Created date: {{x.events_id.createdDate}}</span>
								
								&nbsp;&nbsp;&nbsp;
								
									<i class="fa fa-exclamation-triangle" style="color:#EC008C"></i>
									<span>Expiration date: {{x.events_id.expirationDate}}</span>
								
						</div>
					</div>
					
					<ul class="pagination pull-right">
						<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
						<li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
						<a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
						</li>
						<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
					</ul>
	  				
				</div>
			</div>
		</div>	
	</div>
</div>			
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div id="modal-create-events" class="modal-content">
		
			<div class="modal-header">
				<h4 class="modal-title fweight">Event name: &nbsp; {{secPanel.name}}</h4>
		    </div>
		    <div class="modal-body">
		 		
					<div class="form-bottom">
						<form role="form" class="registration-form" name="regForm">	
							<div class="form-group">
								<label class="sr-only" for="form-title">Title</label>
								<input type="text" name="username" placeholder="Title..." class="form-title form-control" id="form-title" ng-model="eventName" required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="form-budget">Budget</label>
								<input type="number" name="name" placeholder="Budget..." class="form-first-name form-control no-border" id="form-budget" ng-model="eventBudget" required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="form-deadline">Deadline:</label>
								<input type="date" name="surname" placeholder="Deadline:..." class="form-last-name form-control date-color" id="form-deadline" ng-model="eventDate" required>
							</div>
							<div class="btn-group invite-users-width">
										<button  ng-click="showUsers()" class="btn dropdown-toggle"  data-placeholder="Please select">Invite users<span class="caret"></span></button>
							</div>
							<div ng-hide="clicked">
								<div class="row">
									<div class="col-sm-6" style="overflow: auto; height: 200px; color: gray">
									<span class="sellect-user-color-events">Click to select user</span>
										<table class="table"  style="color:red; cursor:pointer" >
											<tr ng-repeat="user in users">
												<td ng-click="select($index)"> {{user.username}} </td>
											</tr>
										</table>
									</div>
									<div class="col-sm-6" style="overflow: auto; height: 200px color: gray">
										<span class="user-color-events">Selected users</span>
										<table  class="table" style="color:red; cursor:pointer">
											<tr ng-repeat="user in selection">
												<td ng-click="deselect($index)"> {{user.username}} </td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<button type="button" ng-click="createEvent()" class="btn btn-block"> Create Event </button>
						</form>
					</div>
				
			</div>
			<div class="modal-footer">
	        	<button type="button" class="btn btn-default modal-button-hover" data-dismiss="modal"> Close </button>
	      	</div>
	
		</div>
	</div>
</div>

<div id="simplyModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      	<div class="modal-header">
		        <h4 class="modal-title fweight">
					Event: &nbsp;  {{panel.events_id.name}}  
					
					<span style="float:right" onClick="alert('blaaa')">	
						<i class="fa fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit" style="cursor:pointer"></i> &nbsp;
						<i class="fa fa-close" data-toggle="tooltip" data-placement="bottom" title="Move to Archive" style="cursor:pointer"></i> &nbsp;
						<i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete event" style="cursor:pointer"></i>&nbsp;
					</span>
					
				</h4>
	      	</div>
	      	<div class="modal-body">
				<h4 class="list-group-item-heading text-left fweight"> Invited <span style="float:right"> Event budget:&emsp; {{eventinv[0].events_id.budget}} den. &emsp;&emsp;&emsp;&emsp; </span> </h4> <hr>
	      		<div class="list-group" ng-repeat="user in eventinv">
				    <h4 class="list-group-item-heading text-left fweight"> {{user.invited_id.name}} {{user.invited_id.surname}} ({{user.invited_id.username}})  <span style="float:right"> -{{user.moneyOWNED	}} den. &emsp; <button ng-click="payMoney(user.id)" ng-hide="user.moneyOWNED === 0.0"> Paid </button> <span class="fa fa-check-square-o" style="color:green; font-size:25px; margin-left:13px; margin-right:14px" ng-show="user.moneyOWNED === 0.0"> </span> </span> </h4>
				</div>
	      	</div>
	      	<div class="modal-footer">
			
				Money collected: {{moneyCol}} den.&emsp;&emsp; Money to collect:{{moneyReq}} den. &emsp;&emsp;
	        	<button type="button" class="btn btn-default modal-button-hover" data-dismiss="modal"> Close </button>
	      	</div>
	    </div>
  	</div>
</div>
	  			