<div class="top-content">
	<!-- <div class="home-overlay"></div>  -->
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<!--  <div class="logo">
						<h1><a href="#">Polar Cape</a></h1>                        	
                	</div>-->
                    <div class="description"></div>
				</div> 
			</div>
			<div class="row">
				<div class="col-sm-6 form-box">
					<div class="form-bottom">
						<form role="form" class="registration-form" name="regForm">	
							<div class="form-group">
								<label class="sr-only" for="form-title">Title</label>
								<input type="text" name="username" placeholder="Title..." class="form-title form-control" id="form-title" ng-model="eventName" required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="form-budget">Budget</label>
								<input type="number" name="name" placeholder="Budget..." class="form-first-name form-control no-border" id="form-budget" ng-model="eventBudget" required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="form-deadline">Deadline:</label>
								<input type="date" name="surname" placeholder="Deadline:..." class="form-last-name form-control date-color" id="form-deadline" ng-model="eventDate" required>
							</div>
							<div class="btn-group">
  								<button  ng-click="showUsers()" class="btn dropdown-toggle"  data-placeholder="Please select">Invite users<span class="caret"></span></button>
							</div>
							<div ng-hide="clicked">
								<div class="row">
									<div class="col-sm-6" style="overflow: auto; height: 200px">
									<span class="sellect-user-color">Click to select user</span>
										<table class="table"  style="color:white; cursor:pointer" >
											<tr ng-repeat="user in users">
												<td ng-click="select($index)"> {{user.username}} </td>
											</tr>
										</table>
									</div>
									<div class="col-sm-6" style="overflow: auto; height: 200px">
										<span class="user-color">Selected users</span>
										<table  class="table" style="color:white; cursor:pointer">
											<tr ng-repeat="user in selection">
												<td ng-click="deselect($index)"> {{user.username}} </td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<button type="button" ng-click="createEvent()" class="btn btn-block"> Create Event </button>
						</form>
					</div>
				</div>
				<div class="col-sm-6 form-box-event">
					<div class="form-list">
						<h3 class="register-text text-center">List of Events</h3>
					</div>
					<div class="form-bottom list-bg">
						<div class="col-xs-12 events-border" ng-repeat="event in events">
							<span style="cursor:pointer" ng-click="eventPanel(event.id)"> 
								<div class="col-xs-6">
									<h3 class="name-event">{{event.name}}</h3>
								</div>
								<div class="col-xs-6 text-right">
								<div>
									<i class="fa fa-calendar"></i>
									<span class="calendar-name">Posted on: {{event.createdDate}}</span>
								</div>
								<div>
									<i class="fa fa-user"></i>
									<span class="posted-by">Posted by: {{event.createdBy}}</span>
								</div>
								</div>
							</span> 
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>


<!-- This is temorary and will be removed -->
<script>
$('.list-bg').slimScroll({
    color: '#00f',
    size: '10px',
    height: '500px',
    alwaysVisible: true
});
</script>






