<!-- 

<div class="top-content-mybills">
	<div class="main-div-bills"></div>
	<div class="inner-bg">
		<div class="container">
		    <div class="row">
				<div class="col-sm-6">
						<h2 style="text-align:center; color:white"> My bills </h2>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="Search bills" ng-model="searching">
				</div>
			</div>
						
						<div class="table-responsive">
							<table class="table table-bordered" style="color:white">
								<thead>
									<th> User </th>
									<th> Event </th>
									<th> Money </th>
									<th> Status </th>
								</thead>
								<tbody>
									<tr ng-repeat="x in eventhost | filter:searching">
										<td> <i class="fa fa-info" aria-hidden="true" style="cursor:pointer" ng-mouseover="info(x.id)" data-toggle="tooltip" data-placement="bottom" title="name:          {{userId.invited_id.name}} &#013;Surname:    {{userId.invited_id.surname}} &#013;Username:  {{userId.invited_id.username}}&#013;Email:          {{userId.invited_id.email}}"></i> &nbsp;  {{x.invited_id.name}} </td>
										<td> {{x.events_id.name}} </td>
										<td> {{x.moneyOWNED}} </td>
										<td> <div class="well well-sm" style="background-color:#3DF544; margin-bottom:1px" ng-show="x.moneyOWNED === 0.0" > Has paid </div> <div class="well well-sm" style="background-color:#FA3E3E; margin-bottom:1px" ng-hide="x.moneyOWNED === 0.0" > Not paid </div> </td>
									</td>
								</tbody>
							</table>
						</div>
		    
		</div>
	</div>
</div> 
	
 -->
 
 
 
 
 
 
<div class="top-content-mybills">
	<div class="main-div-bills"></div>
	<div class="inner-bg"> 
 		<h2>My Bills</h2>
		<div class="container">
  			<div class="row">
    			<div class="col-xs-12">
    				<div class="table-wrapper">
    					<div class="btn-toolbar">
    						<div class="btn-group focus-btn-group">
    							<button class="btn btn-default btn-primary">
    								<span class="glyphicon glyphicon-screenshot"></span> Focus
    							</button>
    						</div>
    						<div class="btn-group dropdown-btn-group pull-right">
    							<button class="btn btn-default">Display all</button>
    							<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Display 
    							<span class="caret"></span>
    							</button>
    							<ul class="dropdown-menu">
    								<li class="checkbox-row">
    									<input type="checkbox" name="toggle-id6e65f0a53b1c2-col-1" id="toggle-id6e65f0a53b1c2-col-1" value="id6e65f0a53b1c2-col-1">
    			 						<label for="toggle-id6e65f0a53b1c2-col-1">Languages</label>
    			 					</li>
    			 					<li class="checkbox-row">
    			 						<input type="checkbox" name="toggle-id6e65f0a53b1c2-col-2" id="toggle-id6e65f0a53b1c2-col-2" value="id6e65f0a53b1c2-col-2">
    			  						<label for="toggle-id6e65f0a53b1c2-col-2">Population</label>
    			  					</li>
    			  					<li class="checkbox-row">
    			  						<input type="checkbox" name="toggle-id6e65f0a53b1c2-col-3" id="toggle-id6e65f0a53b1c2-col-3" value="id6e65f0a53b1c2-col-3"> 
    			  						<label for="toggle-id6e65f0a53b1c2-col-3">Median Age</label></li>
    			  					<li class="checkbox-row"><input type="checkbox" name="toggle-id6e65f0a53b1c2-col-4" id="toggle-id6e65f0a53b1c2-col-4" value="id6e65f0a53b1c2-col-4">
    			   						<label for="toggle-id6e65f0a53b1c2-col-4">Area (Km²)</label>
    			   					</li>
    			   				</ul>
    			   			</div>
    			   		</div>
						<div class="table-responsive" data-pattern="priority-columns">
						  <table class="table table-bordered table-hover table-bg-color">
						    <caption class="text-center bg-caption">An example of a responsive table</caption>
						    <thead class="bg-thead color-thead">
						      <tr>
						        <th></th>
						        <th data-priority="2">User</th>
						        <th data-priority="3">Event</th>
						        <th data-priority="4">Price</th>
						        <th data-priority="4">Status</th>
						        <th data-priority="4">Expiry Day</th>
						      </tr>
						    </thead>
						    <tbody class="color-tbody">
						      <tr>
						        <td class="star-color"><i class="fa fa-star"></i></td>
						        <td>Slagjana</td>
						        <td>Birthday</td>
						        <td>1000den.</td>
						        <td>Paid</td>
						        <td>30.04.2016</td>
						      </tr>
						      <tr>
						        <td class="star-color"><i class="fa fa-star"></i></td>
						        <td>Monika</td>
						        <td>Wedding</td>
						        <td>2500den.</td>
						        <td>Waiting - pay…</td>
						        <td>30.04.2016</td>
						      </tr>
						    </tbody>
						    <tfoot>
						      <tr>
						        <td colspan="6" class="text-center">Data retrieved from <a href="#" target="_blank">infoplease</a> and <a href="#" target="_blank">worldometers</a>.</td>
						      </tr>
						    </tfoot>
						  </table>
						</div><!--end of .table-responsive-->
    				</div>
  				</div>
			</div>
		</div>
	</div>
</div>	