 
<br>
<br>
<hr>

<div class="container">

	Select event: 
	<select style="color:black" ng-model="eventSelector" ng-click="selectEvent()">
		<option value="all">All</option>
		<option ng-repeat="event in events" value="{{event.events_id.id}}">{{event.events_id.name}}</option>
	</select>

		
		<div
			data-ac-chart="'pie'" 
			data-ac-data="data" 
			data-ac-config="config" 
			class="chart" style="width: auto; height: 400px">
		</div>
		
		<br>
		
		<h3 style="color:white"> 
			Total budget: {{moneyTotal}} den.  <br>
			Money collected: {{moneyPaid}} den. - {{paidPercent}}%  <br>
			Money not paid {{moneyRest}} den. - {{restPercent}}%  
		</h3>
		
		<hr>
		
		

</div>




    
  
 

  
 