.search-archive {
    margin: 0 0px!important;
    margin-left: 4px!important;
}

.row {
	&.bg-archive {
		background: #fff!important;
    	border-bottom: none!important;
	}
}

.bigger-archive-icon {
    margin-right: 2px;
}

.tbody-archive {
    text-align: left;
    color: $archive-price-font-color;
}

#user-owe {
	&.responsive-search-archive {
 		input[type=search] {
			@media (max-width: 767px) {
				width: 100%!important;
			    padding: 4px 0!important;
			}
		}
	}
}

th {
	&.archive-th-width {
		@media (max-width: 767px) {
			width: 0px!important;
		}
		@media (min-width: 767px) {
			width: 50px!important;
		}
	}
}
