



/*kaj archive. moja klasa.*/
.search-archive {
	margin-bottom: 0!important;
    margin: 0 0px!important;
    margin-left: 4px!important;
}

/*ja ima archiv. moja*/
.row.bg-archive {
    background: #fff!important;
    border-bottom: none!important;
}

/*ja ima archive, moja klasa za icon*/
.bigger-archive-icon {
    margin-right: 2px;
}

.tbody-archive {
    text-align: left;
    color: #393939;
}

