body {
    font-family: $bodyFont;
    font-size: 16px;
    font-weight: 300;
    color: $darkGray;
    line-height: 30px;
    text-align: center;
	@include backImage('../images/people_22.jpg');
}

.inner-bg {
    padding: 100px 0 170px 0;
    @media (max-width: 767px) {
    	padding: 60px 0 110px 0; 
    }
}

.header-space {
	padding-top: 30px;
}

h1 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: $veryDarkGray;
    line-height: 50px;
    @media (max-width: 415px) {
    	font-size: 32px;
    }
}

h2 {
	@extend h1;
}


h3 {
	font-size: 22px;
    font-weight: 300;
    color: $veryDarkGray;
    line-height: 30px;
}

img {
	max-width: 100%; 
}

$a-tags: 'a, a:hover, a:focus';
#{$a-tags} {
    color: #333;
	text-decoration: none;
   	@include transition (all, 0.3s, ease);
}

::-moz-selection {
	background: #4aaf51;
	color: $whiteColor;
	text-shadow: none; 
}
::selection {
	background: #4aaf51;
	color: $whiteColor;
	text-shadow: none;
}

.form-list {
	overflow: hidden;
	padding: -2px 25px -2pxpx 25px !important;
	margin-top: -61px;
	background: #EC008C;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
	opacity: 0.8;
}

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"]
{
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
   	background: $veryDarkGrayishPink;
    border: none;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff !important;
    @include border-radius(4px);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
   @include transition (all, 0.3s, ease);
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus
 {
	outline: 0;
	background: $whiteColor;
	@include customBorder(1px, #ccc, solid);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #0D0C0C !important;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder {
	color: $darkGray;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder { 
	color: $darkGray;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder { 
	color: $darkGray; 
}

input[type="number"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder { 
	color: $darkGray; 
}

input[type="date"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder { 
	color: $darkGray; 
}

button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: $limeGreen;
    border-color: $darkLimeGreen;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: $whiteColor;
	@include border-radius(4px);
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    @include transition (all, 0.3s, ease);
    &:hover {
    	color: $whiteColor; 
		background-color: $darkLimeGreen3;
		border-color: $darkLimeGreen4;
    }
    &:active {
    	outline: 0;
		opacity: 0.6;
		color: $whiteColor;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none; 
    }
    &:focus {
    	outline: 0;
		opacity: 0.6;
		background: #4aaf51;
		color: $whiteColor; 
    }
}

button {
	&.btn {
		&.btn-block{
			opacity: 1;
		}
	}
}

.navbar {
	margin-bottom: 0;
	background: #444;
	border: 0;
	@include transition (all, 0.6s, ease);
	&.navbar-no-bg {
		background: rgba(0, 0, 0, 0.6); 
	}
}

ul{
	&.navbar-nav {
		font-size: 15px;
		color: $whiteColor;
		text-transform: uppercase;
	}
		&.navbar-right {
			margin-right: 0; 
		}
}

.navbar-inverse {
	ul {
		&.navbar-nav {
			li {
				a {
					padding-top: 20px;
					padding-bottom: 20px;
					color: $whiteColor;
					opacity: 0.8; 
					&:hover, &:focus {
						color: $whiteColor;
						opacity: 1;
						outline: 0;
					}
				}
			}
		}
	}
}

.navbar-text {
	 a {
		margin: 0 8px;
		font-size: 26px;
		color: $whiteColor;
		line-height: 28px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
}

ul.navbar-nav li a:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 45%;
    width: 10%;
    height: 1px;
    background: $whiteColor;
    opacity: 0;
    @include transition (all, 0.3s, ease);
}

ul.navbar-nav li a:hover:after, ul.navbar-nav li a:focus:after {
    opacity: 1;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.table-hover {
	tbody {
		tr {
			&:hover{
    			background-color: $lightGrayishBlue;
    		}
    	}
    }	
}

.table {
	thead {
		tr {
		    color: $veryDarkGray2;
		    font-weight: 400;
		    background: $veryLightGray3;
		}
	}
}
 
.table-header {
    background-color: $strongBlue;
    color: $whiteColor;
    font-size: 17px;
    line-height: 38px;
    padding-left: 12px;
    font-weight: 400;
}

.dataTable_wrapper label {
    display: inline-block;
    font-weight: 400;
}

.table-responsive.table-responsive-home {
    margin-bottom: 0;
}

table.dataTable {
    clear: both;
    max-width: none!important;
}

.dataTable {
    margin-bottom: 0;
}

.tbody-home {
	background: $veryLightGray2;
	text-align: left;
	color: $veryDarkGray3;
}


td.ng-binding {
	text-align: left;
}

.dataTable_wrapper .row:last-child {
    border-bottom: 1px solid $veryLightGray4;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $lightGrayishBlue;
}

.dataTable_wrapper .row {
    margin: 0!important;
}

.form-control, select {
	@include border-radius(0px);
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: $darkGray2;
    background-color: $whiteColor;
    @include customBorder(1px, $lightGray, solid);
  
}

.dataTable_paginate {
    text-align: right;
    @media (max-width: 415px) {
    	text-align: center;
    }
}

.dataTable_paginate .pagination {
    margin: 0 12px;
}

.btn-outlined {
	@include border-radius(0px);
    @include transition (all, 0.3s, ease);
		&.btn-primary {
		    background: $whiteColor;
		    @include customBorder(2px, $moderateBlue, solid);
		    color: $moderateBlue;
		    &:hover, &:active {
		    	color: $whiteColor;
			    background: $moderateBlue;
			    border-color: $moderateBlue;
		    }
		}
}

.btn-outlined {
	&.btn-success {
	    background: $whiteColor;
	    @include customBorder(2px, $limeGreen, solid);
	    color: $limeGreen;
	    &:hover, &:active {
	    	color: $whiteColor;
   			background: $darkLimeGreen2;
	    }
	}
}

.btn-outlined {
	&.btn-danger {
	    background: $whiteColor;
    	@include customBorder(2px, $softRed, solid);
    	color: $softRed;
	    &:hover, &:active {
	    	 color: $whiteColor;
    		 background: $strongRed;
	    }
	}
}

.dataTable_wrapper .row:first-child {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $lightGrayishBlue;
}

.display-records-lenght {
	text-align: left;
}

select.input-sm {
	@include border-radius(0px);
    padding: 2px 3px;
}

.display-records-lenght select {
    height: 25px;
    padding: 2px 3px;
}

.dataTable_wrapper {
	select {
	    margin-bottom: 0!important;
	    margin: 0 4px;
	    @media (max-width: 767px) {
	    		margin: 0 -1px;
		}
		@media (min-width: 767px) {
			margin: 0px;
		}
    }
}

.user-owe-search {
	text-align: right;
}

#user-owe {
	&.responsive-search-mybills {
		input[type=search]{
			@media (max-width: 767px) {
		    	width: 100%!important;
			    padding: 4px 0!important;
			}
		}
	}
}

.user-owe-search input[type=search] {
	width: 125px;
    height: 18px;
    line-height: 18px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px 6px;
    border-radius: 0!important;
    color: $darkGray2;
    background-color: $whiteColor;
    @include customBorder(1px, $lightGray, solid);
    /*border: 1px solid $lightGray;*/
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    display: inline-block;
    vertical-align: middle;
}

.dataTable_wrapper input[type=search] {
	margin-bottom: $margin-bottom-default;
    margin: 0 4px;
}

.bigger-clock-icon {
	margin-right: 2px;
}

.label {
	font-weight: 500;
}

a.sign-up-description-text:hover, :focus, a.sign-in-description-text:hover, :focus {
    color: $whiteColor;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: none;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-group {
    margin-bottom: 0;
}

.form-bottom form button.btn {
	width: 100%;
}

.top-content { 
  background: url(../images/login-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-div-login {
	position: fixed;
    width: 1349px;
}

 .overlay {
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(241, 246, 247, 0.9);
    opacity: 0.2;
    filter: alpha(opacity=40);
}

.top-content .description {
	margin: 40px 0 10px 0;
}

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: $strongBlue;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
	/*opacity: 0.8;*/
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left .login-text, .register-text {
	color: $whiteColor;
}

.form-top-left h3 {
	margin-top: 0;
}

 .login-description-text, .register-description-text {
	color: $whiteColor;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: $whiteColor;
	line-height: 100px;
	text-align: right;
}

#signup-button, #signin-button {
	text-align: right;
	padding: 15px;
}

.sign-up-description-text, .sign-in-description-text{
	font-weight: 400;
	color: $veryDarkGrayishPink;
}


























