.inner-bg .logo {
	padding-bottom: 20px;
}

.top-big-link {
    margin-top: 45px;
}

input.form-control.search-events {
    background: $veryLightGray;
}

input.form-control.search-events {
    background: $veryLightGray;
}

.event-list-header {
	color: $whiteColor;
    margin-top: -10px;
    background-color: $strongBlue;
    margin-left: -10px;
    margin-right: -10px;
}

i.fa.fa-calendar {
     color: $veryDarkGray2;
}

i.fa.fa-exclamation-triangle {
	color: $veryDarkGray2;
}

.modal-header {
    background: $strongBlue;
    color: $whiteColor;
    border-radius: 4px 4px 0 0;
    border-bottom: grey;
}

h4.fweight {
	font-weight: 300;
}

.modal-body {
    background: $lightGrayishPink;
}

h4.list-group-item-heading {
	color: $veryDarkGray3;
}

.modal-footer {
    background: $grayishCyan;
}

.modal-events-footer {
	color: $veryDarkGray3;
}

button.btn.btn-default.modal-button-hover:hover {
    background-color: $darkLimeGreen3;
    border-color: $darkLimeGreen4;
}

input#form-deadline {
  color: gray !important;
}

.btn-group {
	&.invite-users-width {
		 width: 100%;
	}
}

button {
	&.btn {
		&.dropdown-toggle {
			   background: $veryDarkGrayishPink;
		}
	}
}

span {
	&.sellect-user-color-events {
		 color: black;
	}
}

span {
	&.user-color-events {
		 color: black;
	}
   
}

button.btn.dropdown-toggle.invite-users-btn:hover {
    background: $veryDarkGrayishPink;
    opacity: 0.9;
}

.text-left {
	@media (max-width: 415px) {
		text-align: left;
	}
}








