.tableTools-container {
    margin-bottom: 5px;
    position: relative;
}

i {
	&.fa{
		&.fa-user{
			&.fa-fw{
				&.bigger-user-icon {
					margin-right: 2px;
					color: #337ab7;
				}
			}
		}
	}
}

.bigger-info-icon {
	margin-right: 2px;
	color: $veryDarkGray2;
}

.has-paid {
	color:rgb(83, 226, 93);
}

.not-paid {
	color:red;
}

