/*ja ima vo mybills. moja klasa za trite batoni*/
.tableTools-container {
    margin-bottom: 5px;
    position: relative;
}

/*ja ima mybills.moja klasa za icon user.*/
i.fa.fa-user.fa-fw.bigger-user-icon {
	margin-right: 2px;
	color: #337ab7;
}

/*ja ima mybills.moja klasa za icon info.*/
.bigger-info-icon {
	margin-right: 2px;
	color: #707070;
}

/*my bills*/
.has-paid {
	color:rgb(83, 226, 93);
}

/*mybills*/
.not-paid {
	color:red;
}

