//Text
$bills-link-color: #bcbec0;
$bills-nav-link-color: #999999;
$bills-link-hover-color: #68b8e2;
$bills-headings-color: #cccccc;

//Navbar
$bills-navbag-bg: #f5f5f7;

//tuka se pisuvaat custom nasi boi koi gi nema vo bootstrap sass a nie gi sakame