$archive-price-font-color: #393939;
$darkGray: #888;
$darkGray2: #858585;
$veryDarkGray: #555;
$veryDarkGray2: #707070;
$veryDarkGray3: #393939;
$veryLightGray: #F5F5F5!important;
$veryLightGray2: #F9F9F9;
$veryLightGray3: #F2F2F2; 
$veryLightGray4: #e0e0e0;
$lightGray: #D5D5D5;
$lightGrayishBlue: #EFF3F8;
$lightGrayishBlue2: #f1f6f8;
$grayishCyan: #D3D6D6;
$strongBlue: #307ECC;
$moderateBlue: #428bca;
$moderateRed: #D15B47!important;
$softRed: #d9534f;
$strongRed: #d2322d;
$limeGreen: #5cb85c;
$darkLimeGreen: #4cae4c;
$darkLimeGreen2: #47a447;
$darkLimeGreen3: #449d44;
$darkLimeGreen4: #398439;
$darkModerateGreen: #69AA46!important;
$whiteColor: #fff;
$lightGrayishPink: #EAE7E9;
$veryDarkGrayishPink: #3E3C3D;









