$gutter-width: 14px;
$footer-height: 65px;

$main-padding-left: 24px;
$main-padding-right: 24px;

//tuka se promenlivi koi se koristat kako custom
// vo _variables
//pading i margin na sekoe view posebno ako ima potreba
$pre-scrollable-max-height: 200px;