<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
        <intercept-url pattern="/models/**" access="hasRole('USER')" />
        <intercept-url pattern="/glasses/**" access="hasRole('USER')" />
        <intercept-url pattern="/opticians/**" access="hasRole('USER')" />
        <intercept-url pattern="/welcome" access="hasAnyRole('USER, OPTICIAN')" />
        <intercept-url pattern="/orders/**" access="hasAnyRole('USER, OPTICIAN')" />
        <intercept-url pattern="/preorders/**" access="hasAnyRole('USER, OPTICIAN')" />
        <intercept-url pattern="/" access="hasRole('USER')" />
        <form-login login-page="/login" default-target-url="/welcome"
                    authentication-failure-url="/login?error" username-parameter="username"
                    password-parameter="password" always-use-default-target="true" />
        <logout logout-success-url="/login?logout" />
        <!-- enable csrf protection -->
        <!-- <csrf /> -->
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="loginService">
            <password-encoder hash="sha" /> 
        </authentication-provider>
    </authentication-manager>

</beans:beans>
